<div class="container mt-3">
    <h3>Conversor de Unidades</h3>
  
    <div class="mb-3">
      <label for="celsius">Ingrese Temperatura en °C </label>
      <input
        id="celsius"
        type="number"
        step="any"
        v-model.number="celsius"
      />
    </div>
<p :style="{ color: color }">
Conv. de Temperatura Fahrenheit: {{ Number.isFinite(fahrenheit) ? fahrenheit.toFixed(2) : '' }} °F
</p> <!-- Verifica si el valor es finito y muestra el valor con 2 decimales, si no, muestra una cadena vacía
evitando el nan! -->
<p :style="{ color: color }">
  Conv. de Temperatura Kelvin: {{ Number.isFinite(kelvin) ? kelvin.toFixed(2) : '' }} K
</p>
  </div>